@import "_button";

.mat-toobar {
    background-color: darkgoldenrod;
}
form {
    margin-top: 2vh;
}
h2 {
    margin: 0 auto;
}
h4 {
    text-align: center;
}
.mat-card {
    width: 25vw;
    height: fit-content;
    margin: 5vh auto 5vh;
}
