<mat-toolbar>
    <h2>Edit Account</h2>
</mat-toolbar>
<mat-card class="animate__animated animate__fadeInUp">
<form [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutAlign="center center">
    <img src="{{thisUser.photoUrl}}">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline">
            <mat-label>Display Name</mat-label>
            <input matInput #displayName maxlength="30" type="text" formControlName="displayNameCtrl">
            <mat-hint align="end">{{displayName.value?.length || 0}}/30</mat-hint>
            <mat-error *ngIf="displayNameControl().hasError('required')"> Display name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Photo URL</mat-label>
            <input matInput type="text" formControlName="photoUrlCtrl">
            <mat-error *ngIf="photoUrlControl().hasError('required')"> Photo URL is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput #name maxlength="30" type="text" formControlName="titleCtrl">
            <mat-hint align="end">{{name.value?.length || 0}}/30</mat-hint>
            <mat-error *ngIf="titleControl().hasError('required')"> Title is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <mat-select formControlName="ageCtrl">
                <mat-option *ngFor="let age of ages" [value]="age">
                    {{age}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="ageControl().hasError('required')"> Age is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Handicap</mat-label>
            <input matInput #handicap maxlength="3" type="number" formControlName="handicapCtrl" required>
            <mat-error *ngIf="handicapControl().hasError('required')"> Handicap is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button (click)="submit()" type="submit" class="btn-hover">Submit</button>
    </div>
</form>
</mat-card>