@import "_button";
@import "_button";

.mat-toobar {
    background-color: darkgoldenrod;
}
form {
    margin-top: 2vh;
}
h2 {
    margin: 0 auto;
}
h4 {
    text-align: center;
}
.mat-card {
    width: 25vw;
    height: fit-content;
    margin: 5vh auto 5vh;
}

img {
    border-radius: 8px;
    width: 50%;
    margin-left: 25%;
}
@media only screen and (min-width: 1001px) {
    img {
        width: 10vw;
        margin-left: 45%;
    }
}
