<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Create Game">
        <ng-template matTabContent>
            <app-create-game></app-create-game>
        </ng-template>
    </mat-tab>
    <mat-tab label="My Games">
        <ng-template matTabContent>
            <app-my-games></app-my-games>
        </ng-template>
    </mat-tab>
    <mat-tab label="Join Game">
        <ng-template matTabContent>
            <app-join-game></app-join-game>
        </ng-template>
    </mat-tab>
    <!-- <mat-tab label="Game History">
        <ng-template matTabContent>
            <app-game-history></app-game-history>
        </ng-template>
    </mat-tab> -->
</mat-tab-group>