.wrapper-toolbar {
    width: 100%;
}
.mat-toolbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgb(128, 88, 88) 0%,
        rgba(7, 7, 8, 1) 0%,
        rgba(36, 40, 68, 1) 0%,
        rgba(222, 207, 49, 1) 0%,
        rgba(201, 0, 58, 1) 100%
    );
}
.home-title {
    margin-left: 20vw;
}
.a-logout {
    cursor: pointer;
    float: right;
    font-size: 0.75rem;
}
router-outlet {
    width: 100vw;
    height: 100%;
}

.toolbar-golf {
    width: 1rem;
}

@media only screen and (min-width: 1001px) {
    .toolbar-golf {
        width: 30px;
    }
    .home-title {
        margin-left: 43vw;
    }
}
