@import '_button';

.wrapper-toolbar {
  width: 100%;
}
.edit-title {
  text-align: center;
}

.edit-course-toolbar {
  margin: 1vh 0 0 0;
}

a:-webkit-any-link {
  color: goldenrod;
}

.form-wrapper {
  margin: 0;
  overflow: visible;
}

.mat-form-field {
  margin: 0;
}

h4 {
  text-align: center;
}

section {
  padding: 2vw;
}

.course-wrapper {
  width: 75%;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .mat-form-field {
    width: 25vw;
  }
  .edit-name {
    width: 75vw;
  }
}
