// Google Icon
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg)
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.social {
  cursor: pointer;
  text-align: center;
  background-size: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  line-height: 1em;
  font-size: 2.5em;
  transition: background-size 0.3s ease-out, color 0.1s 0.1s, transform 0.3s;
}

.social:hover {
  color: #fff;
  background-size: 150% 150%;
  transform: rotate(360deg) scale(1.1);
}

// Card
// Wrapper
.card-wrapper {
  height: 90vh;
  background-image: url('../../../assets/img/bg/bg-home.jpg');
  background-size: cover;
}
.card-entry:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}
// Font
h4 {
  font-family: 'Dancing Script', cursive;
}
