<div class="cont">
	<div class="app">
		<div class="app__bgimg">
			<div class="app__bgimg-image app__bgimg-image--1">
			</div>
			<div class="app__bgimg-image app__bgimg-image--2">
			</div>
		</div>
		<div class="app__img">
			<img onmousedown="return false" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/whiteTest4.png" alt="city" />
		</div>
		
		<div class="app__text app__text--1">
			<div class="app__text-line app__text-line--4">WELCOME</div>
			<div class="app__text-line app__text-line--3">back</div>
			<div class="app__text-line app__text-line--2">Login with Google</div>
            <div class="app__text-line app__text-line--1 social"><a (click)="loginGoogle()"><i class="fa fa-google"></i></a></div>
		<div class="app__text app__text--2">
			<div class="app__text-line app__text-line--4">Hit a</div>
			<div class="app__text-line app__text-line--3">Hole in one</div>
			<div class="app__text-line app__text-line--2">Today</div>
			<div class="app__text-line app__text-line--1"><img src="../../../assets/img/hole-in-one.png" alt="" /></div>
		</div>
	</div>
</div>