@import '_button';

.mat-card {
  margin: 2vh auto 2vh;
}

h2 {
  margin: 0 auto !important;
}

a {
  text-align: center;
}

.mat-card {
  margin: 0 2vw 0;
}

.add-button:hover {
  background-size: 150% 150%;
  transform: rotate(360deg) scale(1.1);
}

@media only screen and (max-width: 1000px) {
  .mat-form-field {
    width: 50vw !important;
  }
}
